button{
    width: 100px;
    border-radius: 5px;
    border:1px solid black;
    color: var(--White);
    background-color:var(--Very-dark-blackish-blue);
    cursor: pointer;
}
button:hover{
    color:var(--Very-dark-blackish-blue);
    background-color: var(--White);
}
button:disabled{
    opacity: 0.5;
}